# Environment secrets
.env
*.env

# Streamlit local configurations
.streamlit/secrets.toml

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Editor & system files
.vscode/
.DS_Store
Thumbs.db